################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestCombine
/AlignmentTest/bin
/AlignmentTest
/bin
/TestCombine/bin/data/backup/Alignmant 2
/TestCombine/bin/data/backup/Alignment
/TestCombine/bin/data/backup/Alignment 3
/TestCombine/bin/data/backup/Cloning
/TestCombine/bin/data/backup/others
/TestCombine/bin/data/results
/TestCombine/bin/data/matches_im_9.jpg
/TestCombine/bin/data/matches_im_8.jpg
/TestCombine/bin/data/matches_im_7.jpg
/TestCombine/bin/data/matches_im_6.jpg
/TestCombine/bin/data/matches_im_5.jpg
/TestCombine/bin/data/matches_im_4.jpg
/TestCombine/bin/data/matches_im_3.jpg
/TestCombine/bin/data/matches_im_2.jpg
/TestCombine/bin/data/matches_im_16.jpg
/TestCombine/bin/data/matches_im_15.jpg
/TestCombine/bin/data/matches_im_14.jpg
/TestCombine/bin/data/matches_im_13.jpg
/TestCombine/bin/data/matches_im_12.jpg
/TestCombine/bin/data/matches_im_11.jpg
/TestCombine/bin/data/matches_im_10.jpg
/TestCombine/bin/data/matches_im_1.jpg
/TestCombine/bin/Zlib.dll
/TestCombine/bin/TestCombine.lib
/TestCombine/bin/TestCombine.exp
/TestCombine/bin/TestCombine.exe
/TestCombine/bin/ssleay32.dll
/TestCombine/bin/opencv_xfeatures2d310.dll
/TestCombine/bin/opencv_video310.dll
/TestCombine/bin/opencv_imgproc310.dll
/TestCombine/bin/opencv_imgcodecs310.dll
/TestCombine/bin/opencv_flann310.dll
/TestCombine/bin/opencv_features2d310.dll
/TestCombine/bin/opencv_core310.dll
/TestCombine/bin/libeay32.dll
/TestCombine/bin/glut32.dll
/TestCombine/bin/freetype.dll
/TestCombine/bin/FreeImage.dll
/TestCombine/bin/fmodexL64.dll
/TestCombine/bin/fmodex64.dll
/TestCombine/bin/assimp.dll
/TestCombine/obj/Release/TestCombine.tlog
/TestCombine/obj/Release
/TestCombine/3.txt
/TestCombine/2.txt
/TestCombine/1.txt
*.db
/TestCombine/obj/Debug
